params {
    db {
        sortmerna {
            rfam_5_8s		= "/mnt/eph/databases/rfam/rfam-5.8s-database-id98.fasta"
            rfam_5s			= "/mnt/eph/databases/rfam/rfam-5s-database-id98.fasta"
            silva_arc_16s	= "/mnt/eph/databases/silva/silva-arc-16s-id95.fasta"
            silva_arc_23s	= "/mnt/eph/databases/silva/silva-arc-23s-id98.fasta"
            silva_bac_16s	= "/mnt/eph/databases/silva/silva-bac-16s-id90.fasta"
            silva_bac_23s	= "/mnt/eph/databases/silva/silva-bac-23s-id98.fasta"
            silva_euk_18s	= "/mnt/eph/databases/silva/silva-euk-18s-id95.fasta"
            silva_euk_28s	= "/mnt/eph/databases/silva/silva-euk-28s-id98.fasta"
        }
    }
}