profiles {
  fulltest {
    params {
      samplesheet = "../testInput/samplesheet.tsv"
      referenceLevel="meso500"
      outputDirectory = "../fulltest/resultsFulltest"
      databaseTable = "../testInput/databases.tsv"
    }
  }
  miditest {
    params {
      samplesheet = "../testInput/midi_samplesheet.tsv"
      referenceLevel="meso500"
      outputDirectory = "../miditest/resultsMiditest"
      databaseTable = "../testInput/databases.tsv"
    }
  }
  microtest {
    params {
      samplesheet = "../testInput/micro_samplesheet.tsv"
      referenceLevel="meso500"
      outputDirectory = "../microtest/resultsMicrotest"
      databaseTable = "../testInput/databases.tsv"
    }
  }
}

params {
  debug = "false"
  outputDirectory = "results"
}

apptainer {
    enabled = true
}

includeConfig "./databases.config"
includeConfig "./processes.config"