profiles {
  fulltest {
    params {
      samplesheet = "test/samplesheet.tsv"
      referenceLevel="meso500"
      outputDirectory = "resultsFulltest"
      databaseTable = "test/databases.tsv"
    }
  }
  miditest {
    params {
      samplesheet = "test/midi_samplesheet.tsv"
      referenceLevel="meso500"
      outputDirectory = "resultsMiditest"
      databaseTable = "test/databases.tsv"
    }
  }
  microtest {
    params {
      samplesheet = "test/micro_samplesheet.tsv"
      referenceLevel="meso500"
      outputDirectory = "resultsMicrotest"
      databaseTable = "test/databases.tsv"
    }
  }
}

params {
  debug = "false"
  outputDirectory = "results"
}

apptainer {
    enabled = true
}

includeConfig "./databases.config"
includeConfig "./processes.config"