process {
    withName: P_MEGAHIT {
        cpus = 24
        memory = 96.GB
        container = "quay.io/biocontainers/megahit:1.2.9--h8b12597_0"
    }
    withName: 'P_SAMTOOLS_SAM_TO_BAM|P_SAMTOOLS_SORT|P_SAMTOOLS_INDEX' {
        cpus = 4
        container = "quay.io/biocontainers/samtools:1.19.2--h50ea8bc_1"
    }
    withName: 'P_BOWTIE_INDEX|P_BOWTIE_MAP' {
        cpus = 8
        container = "quay.io/biocontainers/bowtie2:2.3.4.1--py35h2d50403_1"
    }
    withName: 'P_CHECKM_COVERAGE|P_CHECKM_PROFILE' {
        cpus = 4
        container = "quay.io/biocontainers/checkm-genome:1.2.2--pyhdfd78af_1"
    }
    withName: 'P_FASTP' {
        cpus = 4
        container = "quay.io/biocontainers/fastp:0.23.4--hadf994f_1"
    }
    withName: 'P_FEATURECOUNTS' {
        cpus = 4
        container = "quay.io/biocontainers/subread:2.0.6--he4a0461_0"
    }
    withName: 'P_METABAT|P_JGI_SUMMARIZE' {
        cpus = 8
        container = "quay.io/biocontainers/metabat2:2.15--h137b6e9_0"
    }
    withName: 'P_PRODIGAL' {
        cpus = 1
        container = "quay.io/biocontainers/prodigal:2.6.3--h031d066_7"
    }
    withName: 'P_MERGE_READS' {
        cpus = 1
        container = "quay.io/biocontainers/coreutils:9.3"   
    }
    withName: 'P_SORTMERNA' {
        cpus = 8
        container = 'quay.io/biocontainers/sortmerna:4.3.6--h9ee0642_0'
    }
}